.pgre-highlight {
background-color: #f90;   
color : #333;
}
.pgre-highlight:hover{
background-color: #fb4;    
color : #222;
}

#pgre{
    display : block;
    position: absolute;
    z-index: 65534;
}

#pgre-right-click{
    display: block;
    width : 150px;
    border : 1px solid #222;
    background: rgba(0,0,0,.7);
    border-left : 1px solid #d71;
    color: #f1f2f9;
    font-size : 13px;
    text-align: left;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
#pgre-right-click a{
    color: #f1f2f9;
}
#pgre-right-click ul{
    margin: 0px 0px;
    padding: 1px 0px;
    border-left : 3px solid #f92;
}
#pgre-right-click ul li:first-child{
    border-top: none;
}
#pgre-right-click ul li{
    display : block;
    list-style-type : none;
    padding: 5px 10px;
    border-bottom: 1px solid #555;
    border-top: 1px solid #d82;
    background: rgba(30, 28, 22, .5);
    margin:0;
}
#pgre-right-click ul li:hover{
    background-color: rgba(230,128, 22, .8);
    border-bottom: 1px solid #d82;
}

#pgre-curtain{
    display:none;
    position:fixed;
    width:100%;
    height:100%;
    padding : 0;
    margin : 0;
    background : rgba(0,0,0,.5);
    top:0;
    left:0;
    z-index:65534;
}
.pgre-title{
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight : bold;
  color: #F7D95E;
}

#pgre-container, #pgre-container div{
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding :0;
  margin:0;
}

#pgre-container p{
  padding : 6px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;;
}

#pgre-container {
  display:none;
  background: #fff;
  width: 700px;
  height : auto;
  padding : 64px 20px;
  position : absolute;
  z-index : 65535;
  margin-left: -360px;
  top : 64px;
  left : 50%;
  text-align: left;
  /* border-radius */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow */
  -webkit-box-shadow: rgba(145,188,255,0.2) 0px 1px 13px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 13px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 13px;
  color : #222;
}

.pgre-word-wrapper{
  width : 700px;   
  border-bottom: 1px dotted #888;
  padding-bottom : 8px!important;
}
.pgre-word-wrapper:last-child{
  border : none;
}
.pgre-word{
  font-size : 24px; 
  font-weight : bold;
  font-family: arial, sans-serif;
  margin-bottom: 16px !important;
  margin-top: 8px !important;
  color: #223; !important
}
.pgre-word-content{
 display:none;
}

.pgre-def{
  margin-top: 16px;
}

.pgre-def:before{
  content : "Definition";
  color: #666;
  font-size : 16px;
  display: block;
  position: relative;
  top : 0px;
}

.pgre-dropdown{
  font-size: 14px;
  color : #8A92E3;
  display: block !important;
  cursor : pointer;
}
.pgre-dropdown:hover{
  color: #9AA2EE;   
}
.pgre-dropdown:before{
  content : "";
  font-size : 0;
  background: transparent;
  width: 0px;
  height: 0px;
  margin-right : 4px;
  position : relative;
  top : -5px;
  border-style: solid;
  border-width: 4px 0 4px 8px;
  border-color: transparent transparent transparent #8A92E3;
}
.pgre-dropdown-down:before{
  content : "";
  font-size : 0;
  background: transparent;
  width: 0px;
  height: 0px;
  margin-right : 4px;
  position : relative;
  width: 0px;
  height: 0px;
  top : 0;
  border-style: solid;
  border-width: 8px 4px 0 4px;
  border-color: #8A92E3 transparent transparent transparent;
}


.pgre-sentences{
  padding-left: 0;
  border-left: 4px solid #fBEfF7;
  display:none;
}

.pgre-sentences p{
  padding-left: 6px;
  border-left: 2px solid #EBECF7;
  background-color : rgba(207,212,252,.15);
  padding: 4px 0;!important;
  margin : 0 !important;
}

.pgre-sentences p:hover{
  background-color : rgba(207,212,252,.2);  
}

.pgre-control-container {
position:fixed;
z-index:65535;
top:0;
right:0;
background: #fff;
margin: 0 auto;
width: 70px;
height: 15px;
padding:8px;
text-align: right;
/* border-radius */
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 8px 0 0px 100px;
/* box-shadow */
-webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 1px;
-moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
border: 1px solid #88f;
border-right:none;
font-weight:bold;
overflow: hidden;
-webkit-transition: width ease-in 0.3s;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8e1fc), color-stop(10%,#a9d2f3), color-stop(25%,#90bae4), color-stop(37%,#90bcea), color-stop(50%,#90bff0), color-stop(51%,#6ba8e5), color-stop(83%,#a2daf5), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
}
.pgre-control-btn{
width:15px;
height:15px;
border-radius: 10px;
display:inline-block;
border:1px solid #bbf;
box-shadow: rgba(0,0,0,0.5) 0px 0px 3px;  
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(100%,#fb955e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10+,Safari5.1+ */
}
.pgre-control-container:hover{
width: 170px;
-webkit-transition: width ease-in 0.2s;
}
.pgre-control-container:hover .pgre-control-btn{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10+,Safari5.1+ */
}
.pgre-control-currword{
display:inline-block;
font-weight:bold;
font-size:12px;
padding: 0 10px;
color:#fff;
text-shadow: 0px 1px 1px #666;
position: relative;
top: -5px;
visibility: hidden;
font-family: 'LucidaGrande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.pgre-control-container:hover .pgre-control-currword{
visibility: visible;
}
.pgre-control-arrow-up, .pgre-control-arrow-down{
display:inline-block;
width: 10px;
height: 10px;
background-color: #000;
position:relative;
margin: 0px 4px;
}
.pgre-control-arrow-down{
top:-8px;
}

.pgre-control-arrow-up:before{
content:"";
width: 0; 
height: 0; 
display:block;
border-left: 10px solid transparent;
border-right: 10px solid transparent;   
border-bottom: 10px solid black;
position:relative;
top: -10px;
left: -5px;
}

.pgre-control-arrow-down:before{
content:"";
width: 0; 
height: 0; 
display:block;
border-left: 10px solid transparent;
border-right: 10px solid transparent;   
border-top: 10px solid black;
position:relative;
top: 10px;
left: -5px;
}
