<div id="pgre-right-click">
    <ul>
      <li><a href='{{ urls.google }}'>Google</a></li>
      <li><a href='{{ urls.wikipedia }}'>Wikipedia</a></li>
      <li><a href='{{ urls.thesaurus }}'>Thesaurus</a></li>
    </ul>
</div>
